// CSS Reset, Variables, Mixins and Grid system
@import "reset.less";
@import "varaibles.less";
@import "mixins.less";
//@import "grid.less";

//Layout start 4 desktops
body {
    background: @bodyBackground;
    font-family: @FontFamily;
    font-size: @FontSize;
    line-height: @LineHeight;
    color: @textColor;
}

.btn {
    padding: 3px 10px;
    border: 1px solid @gray;
    .border-radius(3px);
    #gradient .vertical-three-colors(#ffffff, #f5f5f5, 50%, #cecece);
    .box-shadow(0px 0px 0px 1px @white inset);
    color: @black;
    text-decoration: none;
    .transition(all 0.4s ease 0s);
    display: inline-block;
    line-height: 14px;
    &:hover {
        .box-shadow(0px 0px 0px 1px #cecece inset);
    } 
    &:active {
        .box-shadow(0 0 2px 2px #CECECE inset);
    }
}
b {
    font-weight: bold;
}
table {
    margin: 24px 30px;
    td {
        padding: 0 12px 0 0;
        width: 50px;
        line-height: 29px;
        &:first-child {
            text-align: right;
            width: 109px;
        }
    }
    tbody tr{
        &:hover {
            background: @sky;
            a.remove{
                display: inline;
                color: @linkColor;
                border-bottom: 1px dashed @blue;
                &:hover {
                    color: @linkColorHover;
                }
            }
            &.edit{
                background: transparent;
                a{
                    display: none;
                }
            }
        }
        &.edit{
            a.save{display: inline-block;}
            input{
                border: 1px solid @azure;
                border-top-color: #636d76;
                cursor: text;
                .border-radius(2px);
            }
        }
    }
    input {
        width: 60px;
        padding: 1px 4px;
        border: none;
        background: transparent;
        cursor:pointer;
        font-family: @FontFamily;
        text-align: right;
        &:focus {
            outline:none;
        }
        &[type=number]::-webkit-inner-spin-button, 
        &[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
        &.ng-invalid, 
        &:invalid {
            color: red;
            .box-shadow(none);
            outline:none;
            border:0;
        }
    }
    a.save, 
    a.remove {
        display: none;
    }
    .total {
        &.fixed {
            position: fixed;
            bottom: 0;
            left: 42px;
            padding: 7px 10px 3px;
            border: 1px solid @black;
            border-bottom-width: 0px;
            background: @white;
        }
    }
}



//responsive
//@import "responsive.less";

//PRINT STYLESHEET
// @media print {
//     @import "print.less";
// }
