//@{path}: '../img';

// Colors
@black: #000000;
@grayDark: #333333;
@gray: #666666;
@white: #ffffff;
@green: #53a22d;
@blue: #003399;
@sky: #b3e0f4;
@azure: #c9d3d4;

// Scaffolding
@bodyBackground: @white;
@textColor: @grayDark;

// Links
@linkColor: @blue;
@linkColorHover: darken(@blue, 15%);

// Typography
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);

@OpenSans: 'Open Sans', sans-serif;

@FontSize: 12px;
@FontFamily: @OpenSans;
@LineHeight: 14px;

@headingsFontFamily: inherit; 
@headingsFontWeight: bold;
@headingsColor: inherit;

//Custom styles
.text-left {
  text-align:left !important;
}
.text-center {
  text-align:center !important;
}
.text-right {
  text-align:right !important;
}
.left {
  float:left !important;
}
.right {
  float:right !important;
}

// Clearfix
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}