<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7" lang=ru><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang=ru><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang=ru><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="" lang=ru><!--<![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
    <meta http-equiv="X-UA-Compatible" content="chrome=IE8">
    <title>skb test task</title>
    <link rel="stylesheet/less" type="text/css" href="lib/less/main.less">
    <script type="text/javascript">less = { env: 'development' };</script>
    <script src="lib/js/less-1.3.3.min.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="http://kontur.ru/favicon.ico" />
</head>
<body ng:app>
    <table  ng:controller="CartForm">
        <thead>
            <tr>
                <td colspan="2" class="text-left">
                    <a href ng:click="addItem()" class="btn">Добавить строчку</a>
                </td>
            </tr>
            <tr>
                <td><b>Сумма, р.</b></td>
                <td>&nbsp;</td>
            </tr>
        <thead>
        <tbody>
            <tr ng:repeat="item in invoice.items"  ng-class="overclass" class="{{item.edit}}">    
                <td>
                    <input type="number" ng:model="item.cost" ng:required ng:click="overclass = 'edit'">
                </td>
                <td>
                    <a href ng:click="removeItem($index)" class="remove">Удалить</a>
                    <a href ng:click="overclass = ''" class="save btn">Сохранить</a>
                </td>
            </tr>
        </tbody>
        <tfoot> 
            <tr>
                <td>
                    <span class="total">Итого:&emsp;<b>{{total()}}</b></span>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tfoot> 
    </table>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/script.js"></script>
</body>
</html>